@charset "UTF-8";
.in-nav {
  z-index: 10;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.in-nav .center .nav-logo {
  width: 340px;
  float: left;
  line-height: 80px;
}
.in-nav .center .nav-logo img {
  height: 46px;
}
.in-nav .center .nav-list {
  width: 860px;
  float: left;
}
.in-nav .center .nav-list .nav-list-one {
  width: 860px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.in-nav .center .nav-list .nav-list-one .nav-li {
  height: 80px;
  line-height: 80px;
  position: relative;
}
.in-nav .center .nav-list .nav-list-one .nav-li:hover > div {
  display: block;
}
.in-nav .center .nav-list .nav-list-one .nav-li a {
  font-weight: bold;
  font-family: "微软雅黑";
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 5px;
  transition: all 0.1s linear;
}
.in-nav .center .nav-list .nav-list-one .nav-li a:hover {
  font-size: 20px;
}
.in-nav .center .nav-list .nav-list-one .nav-li .nav-a {
  font-weight: bold;
  font-family: "微软雅黑";
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding-bottom: 5px;
}
.in-nav .center .nav-list .nav-list-one .nav-li div {
  display: none;
  width: 150px;
  position: absolute;
  top: 80px;
  left: -40px;
  background-color: #ffffff;
  border-top: 5px solid #003f87;
  text-align: center;
  transition: all 1s cubic-bezier(0.94, 0.06, 0.05, 0.95);
}
.in-nav .center .nav-list .nav-list-one .nav-li div li {
  height: 40px;
  line-height: 40px;
}
.in-nav .center .nav-list .nav-list-one .nav-li div a {
  font-weight: bold;
  font-family: "微软雅黑";
  color: #003f87;
  font-size: 16px;
  line-height: 30px;
  border: 0 !important;
  text-decoration: none;
  padding-top: 5px;
}
.in-nav .center .nav-list .nav-list-one .nav-list-input {
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
}
.in-nav .center .nav-list .nav-list-one .nav-list-input input {
  background: transparent;
  width: 130px;
  height: 30px;
  padding-left: 3px;
  color: white;
}
.in-nav .center .nav-list .nav-list-one .nav-list-input img {
  padding: 5px;
}

.list-nav {
  margin-top: 60px;
}
.list-nav .center {
  display: flex;
  justify-content: space-between;
}
.list-nav .center .news-title {
  padding-left: 20px;
  font-size: 44px;
  color: #003f87;
  font-weight: bold;
  font-family: "微软雅黑";
  position: relative;
}
.list-nav .center .news-title::before {
  content: "";
  width: 4px;
  height: 80px;
  position: absolute;
  top: 10px;
  left: 0px;
  background-color: #003f87;
  border-radius: 5px;
}
.list-nav .center .news-title p {
  font-size: 14px;
  color: black;
  font-weight: 600;
}
.list-nav .center .more {
  line-height: 100px;
}
.list-nav .center .more a {
  font-size: 14px;
  color: black;
  font-weight: bold;
  font-family: "微软雅黑";
}

.text .center div {
  margin: auto;
  width: 90%;
  text-align: center;
  background-color: #f1f8ff;
  border-radius: 5px;
}
.text .center div h2 {
  margin-top: 40px;
  padding-top: 40px;
  color: #000000;
  font-weight: bold;
  font-family: "微软雅黑";
  padding-bottom: 20px;
  border-bottom: 3px solid white;
}
.text .center div .image {
  display: flex;
  justify-content: space-around;
}
.text .center div .image div {
  width: 400px;
  height: 300px;
}
.text .center div .image div img {
  display: block;
}
.text .center div .image div span {
  margin-top: 10px;
  display: block;
  color: black;
  font-family: "楷体";
  font-size: 14px;
}
.text .center div p {
  font-size: 20px;
  text-indent: 2em;
  text-align: left;
  padding: 5px 80px;
  padding-bottom: 30px;
  line-height: 35px;
  margin-bottom: 0;
}

.footer {
  width: 100%;
  height: 180px;
  background-color: #003f87;
  margin-top: 60px;
  position: relative;
}
.footer > img {
  position: absolute;
  display: block;
  width: 100%;
  height: 60%;
  bottom: 0;
}
.footer .center {
  height: 180px;
  display: flex;
  align-items: center;
}
.footer .center .left {
  flex: 1;
  text-align: center;
}
.footer .center .left img {
  width: 100%;
  margin: 0 auto;
}
.footer .center .right {
  flex: 1;
}
.footer .center .right p {
  color: white;
  font-size: 16px;
  font-family: "微软雅黑";
  margin: auto;
}
.footer .center .zhong {
  flex: 2;
  text-align: center;
}
.footer .center .zhong a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: "微软雅黑";
  padding: 0 10px;
}

/*# sourceMappingURL=notic-item.css.map */
