.in-nav {
    z-index: 10;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    .center {
        .nav-logo {
            width: 340px;
            float: left;
            line-height: 80px;

            img {
                height: 46px;
            }
        }

        .nav-list {
            width: 860px;
            float: left;

            .nav-list-one {
                width: 860px;
                height: 80px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                .nav-li{
                    height: 80px;
                    line-height: 80px;
                    position: relative;
                    &:hover>div{
                        display: block;
                    }
                    a {
                        font-weight: bold;
                        font-family: "微软雅黑";
                        color: white;
                        font-size: 16px;
                        text-decoration: none;
                        padding-bottom: 5px;
                        transition: all 0.1s linear;
                        &:hover{
                            font-size: 20px;
                        }
                    }

                    .nav-a {
                        font-weight: bold;
                        font-family: "微软雅黑";
                        color: white;
                        font-size: 16px;
                        text-decoration: none;
                        padding-bottom: 5px;

                        // &:hover {
                        //     border-bottom: 3px solid #94070a;
                        // }

                        // &:hover:before {
                        //     background-color: #94070a;
                        //     content: "";
                        //     width: 2px;
                        //     height: 20px;
                        //     position: absolute;
                        //     top: 58px;
                        //     left: 30px;
                        // }
                    }
                    div {
                        display: none;
                        width: 150px;
                        position: absolute;
                        top: 80px;
                        left: -40px;
                        background-color: #ffffff;
                        border-top: 5px solid #003f87;
                        text-align: center;
                        // opacity: 0;
                        transition: all 1s cubic-bezier(0.94, 0.06, 0.05, 0.95);

                        li{
                            height: 40px;
                            line-height: 40px;
                        }
                        a {
                            font-weight: bold;  
                            font-family: "微软雅黑";
                            color: #003f87;
                            font-size: 16px;
                            line-height: 30px;
                            border: 0 !important;
                            text-decoration: none;
                            padding-top: 5px;
                        }

                    }
                }

                .nav-list-input {
                    background: transparent;
                    border: 1px solid white;
                    border-radius: 10px;
                    text-align: center;

                    input {
                        background: transparent;
                        width: 130px;
                        height: 30px;
                        padding-left: 3px;
                        color: white;
                    }

                    img {
                        padding: 5px;
                    }
                }
            }
        }
    }
}
//bg-list部分// 面包屑导航
.list-nav{
  margin-top: 60px;
  .center{
      display: flex;
      justify-content: space-between;
      .news-title{
          padding-left: 20px;
          font-size: 44px;
          color: #003f87;
          font-weight: bold;
          font-family: "微软雅黑";
          position: relative;
          &::before{
              content: "";
              width: 4px;
              height: 80px;
              position: absolute;
              top: 10px;
              left: 0px;
              background-color: #003f87;
              border-radius: 5px;
          }
          p{
              font-size: 14px;
              color: black;
              font-weight: 600;
              
          }
      }
      .more{
          line-height: 100px;
          a{
              font-size: 14px;
              color: black;
              font-weight: bold;
              font-family: "微软雅黑"; 
          }
      }
  }
}
.text{
    .center{
        div{
            margin-top: 40px;
            width: 100%;
            height: 600px;
            text-align: center;
            background-color: #cccccc;
            border-radius: 5px;
            overflow: hidden;
            h2{
                margin-top: 40px;
                color: #003f87;
                font-weight: bold;
                font-family: "微软雅黑"; 
                padding-bottom: 20px;
                border-bottom: 3px solid white;
            }
        }
    }
}



/*标题*/
.Whole2{
    width: 1200px;
    margin: 0 auto;
  }
  .Whole2 .Hp2{
    width: 1200px;
  }
  .Whole2 .Hp2 .moddle2{
    margin-top: 45px;
  }
  .Hp2 .head {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
  }
  .head .text-box{
    width: 400px;
    float: left;
    height: 93px;
  }
  .head .text-box .text1{
    height: 63px;
    color: #212121;
    font-family: "微软雅黑";
    font-size: 36px;
     font-weight: bold;
    line-height: 63px;
  }
  .head .text-box .text2{
    opacity: 0.8;
    height: 30px;
    color: #333333;
    font-family: "微软雅黑";
    font-size: 16px;
     font-weight: bold;
    line-height: 30px;
  }
  .head .h-border{
    margin-top: 15px;
    margin-right: 10px;
    width: 4px;
    height: 72px;
    border-radius: 2px;
    background: #003F87;
    float: left;
  }
  .head .text-box2{
    padding-right: 18px;
    text-align: right;
    width: 110px;
    height: 94px;
    color:#333333;
    font-family: "微软雅黑";
    font-size: 20px;
     font-weight: bold;
    line-height: 93px;
    float: right;
  }
  .Whole2 .Hp2 .moddle2{
    width: 1200px;
    height: 730px;
    position: relative;
  }
  .img{
    margin-top: 44px;
    margin-right: 40px;
    float: right;
  }
  /* 第一个块 */
  .Whole2 .Hp2 .moddle2 .box1{
    position: absolute;
    top: 0;
    left: 0;
    width: 590px;
    height: 240px;
    border-radius: 4px;
    background-color: #b3ecde;
    
  }
  .Whole2 .Hp2 .moddle2 .box1 .text1{
    float: left;
    width: 470px;
    margin-top: 44px;
    margin-left: 40px;
    color: #1f2126;
    font-family: "微软雅黑";
    font-size: 24px;
     font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
  }
  
  .clear{
    clear: both;
  }
  .Whole2 .Hp2 .moddle2 .box1 .hp-txt1{
    width: 510px;
    color: #1f2126;
    font-family: "微软雅黑";
    font-size: 18px;  
     font-weight: bold;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 40px;
    border-bottom: 1px dashed transparent;
    display: block;
  
  }
  .Whole2 .Hp2 .moddle2 .box1 .hp-txt1:hover{
    color:rgb(123, 164, 129);
    border-bottom: 1px dashed rgb(123, 164, 129);
  }
  /* 第二个块 */
  .Whole2 .Hp2 .moddle2 .box2{
    position: absolute;
    top:0;
    right: 0;
    width: 590px;
    height: 340px;
    border-radius: 4px;
    background: url(../img/info-bg1.png);
  }
  .Whole2 .Hp2 .moddle2 .box2 .text2{
    float: left;
    width: 470px;
    margin-top: 44px;
    margin-left: 40px;
    color: #1f2126;
    font-family: "微软雅黑";
    font-size: 24px;
     font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
  }
  .Whole2 .Hp2 .moddle2 .box2 .hp-txt2{
    width: 510px;
    color: #1f2126;
    font-family: "微软雅黑";
    font-size: 18px;  
     font-weight: bold;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 40px;
    border-bottom: 1px dashed transparent;
    display: block;
  }
  .Whole2 .Hp2 .moddle2 .box2 .hp-txt2:hover{
    color:rgb(64, 124, 175);
    border-bottom: 1px dashed rgb(64, 124, 175);
  }
  /* 第三个块 */
  .Whole2 .Hp2 .moddle2 .box3{
    position: absolute;
    top: 260px;
    left: 0;
    width: 590px;
    height: 340px;
    border-radius: 4px;
    background: url(../img/info-bg2.png);
  }
  .Whole2 .Hp2 .moddle2 .box3 .text3{
    float: left;
    width: 470px;
    margin-top: 44px;
    margin-left: 40px;
    color: #1f2126;
    font-family: "微软雅黑";
    font-size: 24px;
     font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
  }
  .Whole2 .Hp2 .moddle2 .box3 .hp-txt3{
    width: 510px;
    color: #1f2126;
    font-family: "微软雅黑";
    font-size: 18px;  
     font-weight: bold;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 40px;
    border-bottom: 1px dashed transparent;
    display: block;
  }
  .Whole2 .Hp2 .moddle2 .box3 .hp-txt3:hover{
    color:rgb(153, 129, 59);
    border-bottom: 1px dashed rgb(153, 129, 59);
  }
  /* 第四个块 */
  .Whole2 .Hp2 .moddle2 .box4{
    position: absolute;
    top: 360px;
    right: 0;
    width: 590px;
    height: 240px;
    border-radius: 4px;
    background-color: #f4dae3;
    
  }
  .Whole2 .Hp2 .moddle2 .box4 .text4{
    float: left;
    width: 470px;
    margin-top: 44px;
    margin-left: 40px;
    color: #1f2126;
    font-family: "微软雅黑";
    font-size: 24px;
     font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
  }
  .clear{
    clear: both;
  }
  .Whole2 .Hp2 .moddle2 .box4 .hp-txt4{
    width: 510px;
    color: #1f2126;
    font-family: "微软雅黑";
    font-size: 18px;  
     font-weight: bold;
    line-height: 23px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 40px;
    border-bottom: 1px dashed transparent;
    display: block;
  }
  .Whole2 .Hp2 .moddle2 .box4 .hp-txt4:hover{
    color:rgb(203, 88, 124);
    border-bottom: 1px dashed rgb(203, 88, 124);
  }   
  @import"./footer.scss"